<div class='col-1'>
<h1>Case List</h1>
<br>

<h2>Active Cases</h2>
<ul>
  <% @open_cases.each do |o| %>
    <li>
      <%= link_to o.caption, case_path(o) %>
    </li>
  <% end %>
</ul>

<h2>Closed Cases</h2>
<ul>
  <% @closed_cases.each do |c| %>
    <li>
      <%= link_to c.caption, case_path(c) %>
    </li>
  <% end %>
</ul>

</div>

<!-- new column -->
<div class='col-2'>
  <%=link_to "Add new case", new_case_path%>
</div>