<div class='col-1'>
<h1>Case List</h1>
<br>

<ul>
  <% @cases.each do |c| %>
  <li>
    <%= link_to c.caption, case_path(c) %>
  </li>
  <% end %>
</ul>
</div>

<!-- new column -->
<div class='col-2'>
  <%=link_to "Add new case", new_case_path%>
</div>