<br>
<% if flash[:message] %>
  <div class = "error">
  <h4>Error: <%= flash[:message] %>!</h4>
  </div>
  <br>
<% end %>

<h1>New cases smell like money</h1>

<%= render 'form' %>

<!-- this form needs a client drop down. With the possibilty of add a new client if it doesn't already exhist (this is the nest) -->