<br>

<h1>Case Info:</h1>

  <% @attributes.each do |a| %>
    <% unless @case.send(a.to_s).blank? %>
    <p><%=a.to_s.split("_").join(" ").titleize%>: <%=@case.send(a.to_s)%></p>
    <%end%>
  <%end%>

  <!-- need a drop down to navigate to clients cases and an edit client button -->
  