
<div class='col-1'>
  <%if flash[:message]%>
    <div class = 'error'>
    <p><%=flash[:message]%></p>
    </div>
  <%end%>
  
  <h1>Client List</h1>
  <br>
  <div id='clients'>

  </div>
</div>


<div class='col-2'>
  <p id='hide_on_show'><%=link_to "Add New Client", new_client_path %></p>
</div>

<div id='client_cases'>
  <h4></h4><br>
</div>