
<div class='col-1'>
  <%if flash[:message]%>
    <div class = 'error'>
    <p><%=flash[:message]%></p>
    </div>
  <%end%>
  
  <h1>Client List</h1>
  <br>
  <div id='clients'>

  </div>
</div>


<div class='col-2'>
  <p><%=link_to "Add New Client", new_client_path %></p>
</div>
