
<div class='col-1'>
  <%if flash[:message]%>
    <div class = 'error'>
    <p><%=flash[:message]%></p>
    </div>
  <%end%>
  
  <h1>Client List</h1>
  <p id='getClientCases'><button>See client's cases</button></p>
  <br>
  <div id='clients'>

  </div>
</div>


<div class='col-2'>
  <div class='client_cases'>
    <!-- use this to lists cases by client with json -->
  </div>
  <p id='hide_on_show'><%=link_to "Add New Client", new_client_path %></p>
</div>
