<br>

<h1>Client List:</h1>

<% @clients.each do |client| %>
  <br>
  <p><%= link_to client.fullname, client_path(client) %></p>
  <p><%= client.phones %></p>
  <p><%= client.email %></p>
<% end %>

<!-- second column -->
<br>
<%=link_to "Add New Client", new_client_path %>
  