<div class="bg">
  <%=image_tag("aboutbackground.jpg")%>
</div>

<div class='col-1'>
<h1>Legal-Aide</h1>
<p class='public'>Legal-Aide serves as both a live web presence and a lightweight, easy-to-use case management system.<br><br> This software was born of the ever growing need for the digital organization of case and client information in modern law firms, while recognizing that many, if not most, legal professionals do not consider themselves to be tech savvy. Therefore, the functionality and design of Legal-Aide was built following the guiding principle that if any portion of the system may be perceived as confusing or intimidating the entire application may go unutilized.</p>
</div>