<div class="bg">
  <%=image_tag("testbackground.gif")%>
</div>

<footer id="footer">
  <div id="contact-box" class="contact-box">
    <address>
      <span>The Law Office of Ritesh K Mallick</span>
      <span>718 535 7953</span>
      <span>FAX 718 715 4694</span>
      <span>32-11 Greenpoint Avenue</span>
    </address>
  </div>
</footer>