<div class="bg">
  <%=image_tag("scalebackground.jpg")%>
</div>

<footer id="footer">
  <div id="contact-box" class="contact-box">
    <address>
      <span>Don Febbraio</span>
      <span>203-952-9375</span>
      <span>febbraio.don@gmail.com</span>
      <span>donfebbraio.com</span>
    </address>
  </div>
<!--   <div id="contact-box" class="contact-box">
    <address>
      <span>The Law Office of Ritesh K Mallick</span>
      <span>718 535 7953</span>
      <span>FAX 718 715 4694</span>
      <span>32-11 Greenpoint Avenue</span>
    </address>
  </div> -->
</footer>